---
layout: templates/default
---
<body>
  <header> <h1> {{ page.title }} </h1> </header>

  <h2>
    Sitio: 
    {% assign sitio = site.sitios | where: 'name', page.sitio | first %}
    {% if sitio %}
      <a href="{{ sitio.url }}">{{ sitio.title }}</a>
    {% endif %}
  </h2>
  
  {{ content }}
  
  <h2>
    <ul>
      Ejercicios relacionados: 
      {% for post in site.posts %}
        {% if page.title == post.sitio %}
          <li>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </h2>

</body>
