---
layout: templates/default
---
<h1>
  {{ page.title }}
  {% assign sitio = site.lenguajes | where: 'nombre', page.lenguaje | first %}
  {% if lenguaje %}
    <a href="{{ lenguaje.url }}">{{ lenguaje.title }}</a>
  {% endif %}
</h1>

{{ content }}

<h2>Publicaciones relacionadas:</h2>
<h3>Ejercicios:</h3>
<ul id="ejercicios-list">
  {% for ejercicio in site.ejercicios %}
    {% if page.name == ejercicio.lenguaje %}
      <li class="ejercicio-item">
        <h4><a href="{{ ejercicio.url }}">{{ ejercicio.title }}</a></h4>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="pagination" id="ejercicios-pagination"></div>


<h3>Posts:</h3>
<ul id="posts-list">
  {% for post in site.posts %}
    {% if page.name == post.lenguaje %}
      <li class="post-item">
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="pagination" id="posts-pagination"></div>


<h3>Proyectos:</h3>
<ul id="proyectos-list">
  {% for proyecto in site.proyectos %}
    {% if page.name == proyecto.lenguaje %}
      <li class="proyecto-item">
        <h4><a href="{{ proyecto.url }}">{{ proyecto.title }}</a></h4>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<div class="pagination" id="proyectos-pagination"></div>