---
layout: templates/default
---
<h1>
  {{ page.title }}
  {% assign sitio = site.sitios | where: 'nombre', page.sitio | first %}
  {% if ejercicio %}
    <a href="{{ sitio.url }}">{{ sitio.title }}</a>
  {% endif %}
</h1>

{{ content }}

<h2>Publicaciones relacionadas:</h2>
<h3>Ejercicios:</h3>
<ul>
  {% for post in site.ejercicios %}
    {% if page.name == post.sitio %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<h3>Posts:</h3>
<ul>
  {% for post in site.posts %}
    {% if page.name == post.sitio %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      </li>
    {% endif %}
  {% endfor %}
</ul>